body, html {
	width: 100%;
	height: 100%;
	margin: 0;
}

#main {
	width: 100%;
	height: 100%;
	/*border: 2px purple solid;*/
	display: inline-block;
	position: relative;
	margin: 0;
}

#left-panel {
	width: 72%;
	height: 95%;
	/*border: 2px solid red;*/
	float: left;
	margin: 3% 0 0 0;
	display: inline-flex;
}

#center-container {
	width: 90%;
}

#pdf_view {
	width: 80%;
	border: 2px solid black;
}

#right-panel {
	width:25%;
	height:99%;
	/*border: 2px solid green;*/
	border-left: 2px solid black;
	float: right;
	position: absolute;
	top: 1px;
	right: 1px;
	margin: 0;
}

#chat-box {
	border: 1px dotted gray;
	width: 90%; height: 85%;
	position: absolute;
	top: 2%;
	left: 5%;
	overflow: scroll;
	padding: 5%;
}

#chat-box-list {
	list-style-type: none;
	padding: 0 0 0 5px;
	margin: 3px;
	overflow-wrap: break-word;
}

#chat-text-box {
	position: absolute;
	width:75%;
	bottom: 1px;
	left: 5%;
	height:8%;
	resize: none;
}

#chat-send-btn {
	position: absolute;
	bottom: 1px;
	right: 5%;
	width: 10%;
	height:8%;
}
/*
#options-button {
	margin-left: 3%;
	border: 1px solid black;
	display: inline-flex;
	padding: 1% 2%;
	background-color: lightgray;
}

#options-button:link {
}

#options-button:visited {
}

#options-button:hover {
    background-color: black;
}

#options-button:active {
    background-color: lightblue;
}
*/

#page-num {
	float:left;
}

.slide-control {
	font-size: 215%;
	background: none;
	border: none;
}

.slide-control:hover {
	font-weight: bold;
}

#options-dropup {
	position: absolute;
	bottom: 10px;
	right: 27%
}

#graph-popup {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.75);
}

/* Modal Content/Box */
#popup-info {
    background-color: white;
    margin: 15% auto;
    padding: 2% 5%;
    border: 1px solid black;
    width: 80%;
}

#popup-close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

#popup-close:hover,
#popup-close:focus {
    cursor: pointer;
}

#polling {
	cursor: pointer;
}

/* slider */
#switch-holder {
	float:right;
}

#switch-label {
	font-size: .75em;
}

.switch {
	position: relative;
	width: 50px;
	height: 25px;
	margin: 0;
}
  
#slider-input {
	display:none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 17px;
	width: 17px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	}

#slider-input:checked + .slider {
	background-color: #2196F3;
}

#slider-input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

#slider-input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}